<div class="container">
  <div class="row">
    <div class="col-12 mt-3 text-center">
      <h2>ようこそ、ROUTINE TOGETHERへ！</h2>
      <p>これから学習や運動を続けたいが、なかなか続かない、苦戦してしまう人へ！！</p>
      <p>さまざまな人の習慣を見たり</p>
      <p>自分の習慣を自慢しよう！！</p>
      <p>習慣化スキルで毎日を充実させていこう！！</p>
    </div>
  </div>
</div>
