<div class="container">
  <div class="row">
    <div class="mx-auto col-md-8 offset-md-1 mt-5">
      <div style="text-align:center">
        <p><b>本当に退会しますか？</b></p>

      </div>
      <div style="text-align:center" class="mt-4">
      <%= link_to public_users_show_path(current_user) do %>
      <button class="btn btn-info">
        退会しない
      </button>
      <% end %>

      <%= link_to public_users_withdraw_path, method: :patch, data: { confirm: "本当に退会しますか？"} do %>
      <button class="btn btn-danger">
        退会する
      </button>
      <% end %>
      </div>
    </div>
  </div>
</div>